@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="titulo">Fourblog</h1>
</div>

<div class="texto-introducao">
    <h1>Um blog sobre coisas</h1>
</div>

<hr />
<hr />

<div class="texto-introducao">
    <h4>
        "Four é quatro em inglês. Nem um, nem dois, mas dois mais dois."
    </h4>
    <h4>
        -Cordeiro, Lucas
    </h4>
</div>

<hr />
<hr />

<div class="paragrafo1">
    <p>
        Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.Paisis, filhis, espiritis santis.Quem manda na minha terra sou euzis!Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.      
    </p>
</div>